@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 255, 110, 0.542);
    box-shadow: inset 0 0 10px red;
}

#logo{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
}

nav{
    flex: 3;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    display: inline;
    margin-inline: 0 35px;

}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}

main{
    display: flex;
    flex-direction: column;
}

#service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1vw;
}

details{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

details:hover{
    cursor: pointer;
}

summary{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.col:hover{
    cursor: pointer;
    border-color: cadetblue;
    text-shadow: 0 0 10px rgb(255, 0, 0);
    box-shadow: 3px 6px 100px red;
}

.col{
    flex: 1;
    flex-direction: column;
    text-align: center;
    margin: 2vw;
    padding-inline: 2vw;
    padding-block: 1.6vw;
    border: 1px solid black;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.426);
}

#aboutUs{
    display: flex;
    flex-direction: column 2;
    align-items: center;
    margin: 5vw;
    padding: 2vw;
}

a,a:visited{
    color: black;
}

