@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: bisque;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    margin-inline: 15px;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}

main{
    display: flex;
    flex-direction: column;
}

nav{
    padding-left: 3vw;
}

#service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1vw;
}

details{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

details:hover{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.col:hover{
    cursor: pointer;
    color: cadetblue;
}

.col{
    flex: 1;
    flex-direction: column;
    text-align: center;
    margin: 1vw;
    border: 1px solid black;
    border-radius: 2vw;

}

#aboutUs{
    display: flex;
    flex-direction: column 2;
    align-items: center;
    margin: 5vw;
    padding: 2vw;
}
a:visited{
    color: black;
}